<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <% if task.completed? %>
      <input type="checkbox" name="task" value="1" checked>
    <% else %>
      <input type="checkbox" name="task" value="1">
    <% end %>
    <%= link_to task.title, task_path(task) %>
    <%= link_to task_path(task),method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </li>
  <% end %>
</ulï¼

<div class="other-action"><%= link_to "Add new task", new_path %></div>
